.brooke-header#header {
  background-image: url("../../images/brooke/pic1.jpg");
  background-position: 50% 15%;
}

.testimonial-header#header {
  background-image: url("../../images/testimonial.jpg");
  background-position: 50% 15%;
}

.services-header#header {
  background-image: url("../../images/services.jpg");
  background-position: 50% 15%;
}

.portfolio-header#header {
  background-image: url("../../images/portfolio.jpg");
}

.about-me-card {
  background-position: 50% 10%;
  background-image: url("../../images/brooke/pic1.jpg");
}

#my-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#my-form-button {
  width: 500px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

#my-form > label {
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  letter-spacing: 0.275rem;
  margin: 10px 0;
}

#my-form-button {
  margin-top: 10px;
}

#thanks {
  display: none;
}

.testimonial-quote-block {
  margin-bottom: 20px;
}

.testimonial-quote-block > p {
  margin-bottom: 0;
}

.testimonial-quote-block > p:first-child {
  text-align: left;
}

.testimonial-quote-block > p:last-child {
  text-align: right;
  font-style: italic;
}

.services-wrapper {
  display: flex;
  text-align: left;
  justify-content: center;
}

.services {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
}

.services > li:before {
  content: "-";
  padding-right: 20px;
}

.portfolio-image {
  max-width: 90%;
}

#header.alt h1 > a {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

#header.alt h1 > a:hover {
  color: #333 !important;
}

.services-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-content-wrapper > div > h4 {
  text-align: center;
}

.text-left {
  text-align: left;
}

#footer {
  margin-top: 2em;
}

#footer:before {
  margin-bottom: 2em;
}

.icons > li > a {
  font-size: 70px;
}

@media only screen and (max-width: 600px) {
  #my-form {
    width: 300px;
  }

  #my-form-button {
    width: 300px;
  }

  .services-wrapper {
    flex-direction: column;
    max-width: 300px;
  }
}
